.headerContainer {
  display: block;
  width: 100%;
}
.headerContainer_title {
  padding-top: 4vh;
  padding-bottom: 4vh;
  padding-left: 8vw;
  box-shadow: var(--title-shadow);
  background-image: var(--bg-gradient);
}
.headerContainer_title_text {
  width: 100%;
  font-family: Baskerville;
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: normal;
  color: var(--title-font-color);
}
.headerContainer_selection {
  position: relative;
  width: 100%;
  height: 4vh;
  display: flex;
  justify-content: center;
  top: 50px;
}